<div class="">
    <table>
      <tr>
        <td>First Name:</td>
        <td><input type="text" value='{{fName}}'></td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><input type="text" value="{{lname}}"></td>
      </tr>
      <tr>
        <td>Address 1:</td>
        <td><input type="text" value="{{address1}}"></td>
      </tr>
      <tr>
        <td>Address 2:</td>
        <td><input type="text" value="{{address2}}"></td>
      </tr>
      <tr>
        <td>Zip:</td>
        <td><input type="text" value="{{zip}}"></td>
      </tr>
    </table>
</div>
